<div class="active_page" >
    <header class="header">
        <h4>报名（{{member}}人）</h4>
        <button class="btn btn-primary header-left" ng-click="go_to_list()" >返回</button>
        <button class="btn btn-primary header-right" ng-click="action()" ng-disabled="use">{{start_end}}</button>
    </header>
    <div class="wrapper scrollable">
        <ul class="list-style-2" >
            <li ng-repeat=" people in persons track by $index" ng-change="list_show()">{{people.name}}:{{people.phone}}</li>
        </ul>

    </div>
    <footer>
        <!--<!---->
        <ul class="footer-nav footer-nav-2tabs">
            <li class="active"><a href="#">报名</a></li>
            <li><a href="#">竞价</a></li>
        </ul>
    </footer>

</div>