<div class="active_page" xmlns="http://www.w3.org/1999/html">
    <header class="header">
        <h4>报名</h4>
        <button class="btn btn-primary header-left" ng-click="go_to_list()">返回</button>
        <button class="btn btn-primary header-right" ng-click="action()">{{start_end}}</button>
    </header>

    <footer>
        <!--&lt;!&ndash;-->
        <ul class="footer-nav footer-nav-2tabs">
            <li class="active"><a href="#"><br>报名</a></li>
            <li><a href="#"><br>竞价</a></li>
        </ul>
    </footer>

</div>